{% extends "base.html" %}
{% block title %}Recepciós Kezelőfelület{% endblock %}

{% block content %}
<h2>Beérkező foglalások</h2>
<table>
    <tr>
        <th>Vendég</th>
        <th>Szoba</th>
        <th>Dátum</th>
        <th>Státusz</th>
        <th>Művelet</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.user.username }}</td>
        <td>{{ booking.room.room_number }}</td>
        <td>{{ booking.check_in.strftime('%Y-%m-%d') }} - {{ booking.check_out.strftime('%Y-%m-%d') }}</td>
        <td>{{ booking.status.value }}</td>
        <td>
            <form method="POST" action="{{ url_for('handle_booking') }}">
                {{ action_form.hidden_tag() }}
                <input type="hidden" name="booking_id" value="{{ booking.id }}">
                {{ action_form.action() }}
                {{ action_form.submit() }}
            </form>
            <a href="{{ url_for('add_service', booking_id=booking.id) }}">Szolgáltatás hozzáadása</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}